
<ion-content >

  <div style="width: 100%;  height: 100%;background-color: rgba(157, 47, 25, 0.6)">
      
      
  </div>
  <div style="position: absolute;padding: 20px; top: 10px;width: 100%; height: 100%;">
      <ion-button (click)="goBack()"  routerDirection="back" style="margin-top: -30px; width: 45px;height: 18px;">
          <ion-img src="/assets/arrow.png"></ion-img>
        </ion-button>
    <h2 style="text-align: center; margin-top: -10px;">Location Validation</h2>
        <p>
          The Location Validation Program assigns, verifies and validates 9-1-1 physical addresses for our 9-1-1 database and mapping processes. We are the addressing authority for rural areas within Hidalgo and Willacy Counties. 
    
        </p>

        <p>
            Following addressing standards develop by the National Emergency Number Association (NENA) and other organizations, we address new developments, subdivisions, metes and bounds that impact our road centerlines and address points layers. 
        </p>
        <p>
            Furthermore, we work with other agencies such as the United States Postal Service (USPS), telephone companies and others to make sure the 9-1-1 physical address is well known.
        </p>
  </div>
  
</ion-content>
