<ion-content >
    <div style="width: 100%;  height: 100%;background-color: rgba(157, 47, 25, 0.6)">
      
      
      </div>
      <div style="position: absolute;padding: 20px; top: 10px;width: 100%; height: 100%;">
          <ion-button (click)="goBack()"  routerDirection="back" style="margin-top: -30px; width: 45px;height: 18px;">
              <ion-img src="/assets/arrow.png"></ion-img>
            </ion-button>
        <h2 style="text-align: center; margin-top: -10px;">Database</h2>
            <p>
                Database Program  has the responsibility of updating the state 9-1-1 database and other duties such as:
            </p>
    
            <p>
                Maintain and update the Master Street Address Guide (MSAG)
            </p>
            <p>
                Ensure that the telephone numbers in the state 9-1-1 database have a valid address.    
            </p>

            <p>
                Ensure that all the information to route the call is correct.    
            </p>

            <p>
                Work on telephone errors that exist already and/or come up on a daily basis.
            </p>
      </div>
</ion-content>
