
<ion-content padding>
    <div style="width: 100%; height: 48px;background: transparent;margin-bottom: 2px;">
        <ion-button (click)="goBack()"  routerDirection="back" style="width: 45px;height: 18px;">
          <ion-img src="/assets/arrow.png"></ion-img>
        </ion-button>
       
      </div>
    <ion-list lines="none">
      <ion-item >
        <ion-button  color="primary" size="large" shape="round" fill="solid">Location Validation</ion-button>
      </ion-item>
      <ion-item >
          <ion-button color="primary" size="large" shape="round" fill="solid">Mapping</ion-button>
        </ion-item>
        <ion-item >
            <ion-button color="primary" size="large" shape="round" fill="solid">Database</ion-button>
        </ion-item>
        <ion-item >
          <ion-button color="primary" size="large" shape="round" fill="solid">System & PSAP OPS</ion-button>
        </ion-item>
        <ion-item >
          <ion-button color="primary" size="large" shape="round" fill="solid">Public Education</ion-button>
        </ion-item>
        <ion-item >
          <ion-button color="primary" size="large" shape="round" fill="solid">Training</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
