ion-content{
    background-image: url('/assets/sysback.png');
    background-position: 200px -120px;
   
    --ion-text-color: white;
    --background: transparent;
  }

  ion-button {
    --background: #2F0601;
    border-radius: 10px;
}