<ion-content >
    <div style="width: 100%;  height: 100%;background-color: rgba(157, 47, 25, 0.8)">
    </div>
    <div style="position: absolute;padding: 20px; top: 10px;width: 100%; height: 100%;">
            <ion-button (click)="goBack()"  routerDirection="back" style="margin-top: -30px; width: 45px;height: 18px;">
                <ion-img src="/assets/arrow.png"></ion-img>
              </ion-button>
          <h2 style="text-align: center; margin-top: -10px;">Training</h2>
              <p>
                    Our Training Program provides trainings for the 9-1-1 Department staff and to our telecommunicators (TCs) that serve the Hidalgo and Willacy Counties.
              </p>
      
              <p>
                    Trainings are provided for new hire and existing TCs for certification purposes and to improve their skills for 9-1-1 purposes.   
              </p>
             
        </div>
</ion-content>
