ion-content{
    background-image: url('/assets/trainingback.png');
    background-position: -220px -194px;
    --ion-text-color: white;
    --background: transparent;
    
  }

  ion-button {
    --background: #2F0601;
    border-radius: 10px;
}