
<ion-content >
    <div style="width: 100%;  height: 100%;background-color: rgba(157, 47, 25, 0.6)">
      
      
      </div>
      <div style="position: absolute;padding: 20px; top: 10px;width: 100%; height: 100%;">
          <ion-button (click)="goBack()"  routerDirection="back" style="margin-top: -30px; width: 45px;height: 18px;">
              <ion-img src="/assets/arrow.png"></ion-img>
            </ion-button>
        <h2 style="text-align: center; margin-top: -10px;">GIS</h2>
            <p>
                The primary function of our Mapping Program is to process spatial data through Geographic Information Systems (GIS) technology. 
            </p>
    
            <p>
                The Mapping Program works on correcting the discrepancies between the Master Street Address Guide and our GIS maps.
            </p>
            <p>
                Mapping updates our road centerlines, address points and jurisdictional boundaries as needed to update our 9-1-1 system at the Public Safety Answering Points (PSAP).
            </p>
      </div>
</ion-content>
