<ion-content padding>
    <ion-button (click)="goBack()"  routerDirection="back" style="margin-top: -30px; width: 45px;height: 18px;">
        <ion-img src="/assets/arrow.png"></ion-img>
      </ion-button>
  <h2 style="text-align: center;margin-top: -20px;">Public Education</h2>
  <p>
      We attend several events which gives us the opportunity to promote and educate the public on how to properly use the 9-1-1 system.
  </p>
  <p>
      We give presentations that local cities, school, daycares, Fire, Police Depts. and Emergency Medical Services (EMS) companies within the Hidalgo and Willacy Counties. While attending these events, our mascots (Cell Phone Sally, Josh and Keith Friendly Kid) have become a great part of our education program
  </p>
  <p>
      Using multi-media, we demonstrate the proper way to call 9-1-1 and what is considered a 9-1-1 emergency call. Promotional item distribution is a major part of our program.
  </p>
  <div style="position: absolute; bottom: 0;">
      <ion-img src="/assets/sallydep.png"></ion-img>
  </div>
</ion-content>
