<ion-header primary>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Public Safety
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
     
   
    <ion-img style="width: 200px; height: 200px;" src="/assets/logo.png"></ion-img>
  
     




    <ion-list lines="none">
      <ion-item >
        <ion-button color="secondary" size="large" shape="round" fill="outline">HOME</ion-button>
      </ion-item>
      <ion-item >
          <ion-button color="secondary" size="large" shape="round" fill="outline">KNOW THE DEPARTMENT</ion-button>
        </ion-item>
        <ion-item >
            <ion-button color="secondary" size="large" shape="round" fill="outline">PSA's</ion-button>
        </ion-item>
        <ion-item >
          <ion-button color="secondary" size="large" shape="round" fill="outline">REQUEST AN ADDRESS</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
